deepspeech_pytorch/__pycache__/__init__.cpython-36.pyc
deepspeech_pytorch/__pycache__/checkpoint.cpython-36.pyc
deepspeech_pytorch/__pycache__/decoder.cpython-36.pyc
deepspeech_pytorch/__pycache__/enums.cpython-36.pyc
deepspeech_pytorch/__pycache__/inference.cpython-36.pyc
deepspeech_pytorch/__pycache__/log.cpython-36.pyc
deepspeech_pytorch/__pycache__/logger.cpython-36.pyc
deepspeech_pytorch/__pycache__/model.cpython-36.pyc
deepspeech_pytorch/__pycache__/mylogger.cpython-36.pyc
deepspeech_pytorch/__pycache__/sendReport.cpython-36.pyc
deepspeech_pytorch/__pycache__/state.cpython-36.pyc
deepspeech_pytorch/__pycache__/testing.cpython-36.pyc
deepspeech_pytorch/__pycache__/training.cpython-36.pyc
deepspeech_pytorch/__pycache__/utils.cpython-36.pyc
kubernetes/README.md
outputs
dataEnglish/**
models/**
models
deepspeech_pytorch/quyenImg/
kubernetes/train.yaml
kubernetes/data/persistent_volume.yaml
kubernetes/data/storage.yaml
kubernetes/data/transfer_data.yaml
models/deepspeech_checkpoint_epoch_1.pth
models/deepspeech_checkpoint_epoch_2.pth
models/deepspeech_final.pth
models/deepspeech7layer.pth
deepspeech_final.pth
deepspeech_pytorch/quyenImg/FPTOpenSpeechData_Set001_V0_1_000001.png
deepspeech_pytorch/quyenImg/FPTOpenSpeechData_Set001_V0_1_000001(log).png
deepspeech_pytorch/quyenImg/FPTOpenSpeechData_Set001_V0_1_000001tinhieutho.png
deepspeech_pytorch/quyenImg/FPTOpenSpeechData_Set001_V0_1_000002.png
deepspeech_pytorch/quyenImg/FPTOpenSpeechData_Set001_V0_1_000002(log).png
deepspeech_pytorch/quyenImg/FPTOpenSpeechData_Set001_V0_1_000002tinhieutho.png
deepspeech_pytorch/quyenImg/FPTOpenSpeechData_Set001_V0_1_000003.png
deepspeech_pytorch/quyenImg/FPTOpenSpeechData_Set001_V0_1_000003(log).png
deepspeech_pytorch/quyenImg/FPTOpenSpeechData_Set001_V0_1_000003tinhieutho.png
deepspeech_pytorch/quyenImg/FPTOpenSpeechData_Set002_V0_1_001537.png
deepspeech_pytorch/quyenImg/FPTOpenSpeechData_Set002_V0_1_001537(log).png
deepspeech_pytorch/quyenImg/FPTOpenSpeechData_Set002_V0_1_001537tinhieutho.png
deepspeech_pytorch/quyenImg/FPTOpenSpeechData_Set002_V0_1_001538.png
deepspeech_pytorch/quyenImg/FPTOpenSpeechData_Set002_V0_1_001538(log).png
deepspeech_pytorch/quyenImg/FPTOpenSpeechData_Set002_V0_1_001538tinhieutho.png
deepspeech_pytorch/quyenImg/FPTOpenSpeechData_Set002_V0_1_001540.png
deepspeech_pytorch/quyenImg/FPTOpenSpeechData_Set002_V0_1_001540(log).png
deepspeech_pytorch/quyenImg/FPTOpenSpeechData_Set002_V0_1_001540tinhieutho.png
deepspeech_pytorch/quyenImg/FPTOpenSpeechData_Set002_V0_1_001541.png
deepspeech_pytorch/quyenImg/FPTOpenSpeechData_Set002_V0_1_001541(log).png
deepspeech_pytorch/quyenImg/FPTOpenSpeechData_Set002_V0_1_001541tinhieutho.png
deepspeech_pytorch/quyenImg/FPTOpenSpeechData_Set002_V0_1_001542.png
deepspeech_pytorch/quyenImg/FPTOpenSpeechData_Set002_V0_1_001542(log).png
deepspeech_pytorch/quyenImg/FPTOpenSpeechData_Set002_V0_1_001542tinhieutho.png
deepspeech_pytorch/quyenImg/FPTOpenSpeechData_Set002_V0_1_001543.png
deepspeech_pytorch/quyenImg/FPTOpenSpeechData_Set002_V0_1_001543(log).png
deepspeech_pytorch/quyenImg/FPTOpenSpeechData_Set002_V0_1_001543tinhieutho.png
deepspeech_pytorch/quyenImg/FPTOpenSpeechData_Set002_V0_1_001544.png
deepspeech_pytorch/quyenImg/FPTOpenSpeechData_Set002_V0_1_001544(log).png
deepspeech_pytorch/quyenImg/FPTOpenSpeechData_Set002_V0_1_001544tinhieutho.png
deepspeech_pytorch/quyenImg/FPTOpenSpeechData_Set002_V0_1_001546.png
deepspeech_pytorch/quyenImg/FPTOpenSpeechData_Set002_V0_1_001546(log).png
deepspeech_pytorch/quyenImg/FPTOpenSpeechData_Set002_V0_1_001546tinhieutho.png
deepspeech_pytorch/quyenImg/FPTOpenSpeechData_Set002_V0_1_001547.png
deepspeech_pytorch/quyenImg/FPTOpenSpeechData_Set002_V0_1_001547(log).png
deepspeech_pytorch/quyenImg/FPTOpenSpeechData_Set002_V0_1_001547tinhieutho.png
deepspeech_pytorch/quyenImg/FPTOpenSpeechData_Set002_V0_1_001548.png
deepspeech_pytorch/quyenImg/FPTOpenSpeechData_Set002_V0_1_001548(log).png
deepspeech_pytorch/quyenImg/FPTOpenSpeechData_Set002_V0_1_001548tinhieutho.png
deepspeech_pytorch/quyenImg/FPTOpenSpeechData_Set002_V0_1_001549.png
deepspeech_pytorch/quyenImg/FPTOpenSpeechData_Set002_V0_1_001549(log).png
deepspeech_pytorch/quyenImg/FPTOpenSpeechData_Set002_V0_1_001549tinhieutho.png
deepspeech_pytorch/quyenImg/FPTOpenSpeechData_Set002_V0_1_001550.png
deepspeech_pytorch/quyenImg/FPTOpenSpeechData_Set002_V0_1_001550(log).png
deepspeech_pytorch/quyenImg/FPTOpenSpeechData_Set002_V0_1_001550tinhieutho.png
deepspeech_pytorch/quyenImg/FPTOpenSpeechData_Set002_V0_1_001551.png
deepspeech_pytorch/quyenImg/FPTOpenSpeechData_Set002_V0_1_001551(log).png
deepspeech_pytorch/quyenImg/FPTOpenSpeechData_Set002_V0_1_001551tinhieutho.png
deepspeech_pytorch/quyenImg/FPTOpenSpeechData_Set002_V0_1_001552.png
deepspeech_pytorch/quyenImg/FPTOpenSpeechData_Set002_V0_1_001552(log).png
deepspeech_pytorch/quyenImg/FPTOpenSpeechData_Set002_V0_1_001552tinhieutho.png
deepspeech_pytorch/quyenImg/FPTOpenSpeechData_Set002_V0_1_001553.png
deepspeech_pytorch/quyenImg/FPTOpenSpeechData_Set002_V0_1_001553(log).png
deepspeech_pytorch/quyenImg/FPTOpenSpeechData_Set002_V0_1_001553tinhieutho.png
deepspeech_pytorch/quyenImg/FPTOpenSpeechData_Set002_V0_1_001554.png
deepspeech_pytorch/quyenImg/FPTOpenSpeechData_Set002_V0_1_001554(log).png
deepspeech_pytorch/quyenImg/FPTOpenSpeechData_Set002_V0_1_001554tinhieutho.png
deepspeech_pytorch/quyenImg/FPTOpenSpeechData_Set002_V0_1_001555.png
deepspeech_pytorch/quyenImg/FPTOpenSpeechData_Set002_V0_1_001555(log).png
deepspeech_pytorch/quyenImg/FPTOpenSpeechData_Set002_V0_1_001555tinhieutho.png
deepspeech_pytorch/quyenImg/FPTOpenSpeechData_Set002_V0_1_001556.png
deepspeech_pytorch/quyenImg/FPTOpenSpeechData_Set002_V0_1_001556(log).png
deepspeech_pytorch/quyenImg/FPTOpenSpeechData_Set002_V0_1_001556tinhieutho.png
deepspeech_pytorch/quyenImg/FPTOpenSpeechData_Set002_V0_1_001557.png
deepspeech_pytorch/quyenImg/FPTOpenSpeechData_Set002_V0_1_001557(log).png
deepspeech_pytorch/quyenImg/FPTOpenSpeechData_Set002_V0_1_001557tinhieutho.png
deepspeech_pytorch/quyenImg/FPTOpenSpeechData_Set002_V0_1_001558.png
deepspeech_pytorch/quyenImg/FPTOpenSpeechData_Set002_V0_1_001558(log).png
deepspeech_pytorch/quyenImg/FPTOpenSpeechData_Set002_V0_1_001558tinhieutho.png
deepspeech_pytorch/quyenImg/FPTOpenSpeechData_Set002_V0_1_001559.png
deepspeech_pytorch/quyenImg/FPTOpenSpeechData_Set002_V0_1_001559(log).png
deepspeech_pytorch/quyenImg/FPTOpenSpeechData_Set002_V0_1_001559tinhieutho.png
deepspeech_pytorch/quyenImg/FPTOpenSpeechData_Set002_V0_1_001560.png
deepspeech_pytorch/quyenImg/FPTOpenSpeechData_Set002_V0_1_001560(log).png
deepspeech_pytorch/quyenImg/FPTOpenSpeechData_Set002_V0_1_001560tinhieutho.png
deepspeech_pytorch/quyenImg/FPTOpenSpeechData_Set002_V0_1_001561.png
deepspeech_pytorch/quyenImg/FPTOpenSpeechData_Set002_V0_1_001561tinhieutho.png
deepspeech_pytorch/quyenImg/FPTOpenSpeechData_Set002_V0_1_001562.png
deepspeech_pytorch/quyenImg/FPTOpenSpeechData_Set002_V0_1_001562tinhieutho.png
deepspeech_pytorch/quyenImg/FPTOpenSpeechData_Set002_V0_1_001563.png
deepspeech_pytorch/quyenImg/FPTOpenSpeechData_Set002_V0_1_001563tinhieutho.png
deepspeech_pytorch/quyenImg/FPTOpenSpeechData_Set002_V0_1_001564.png
deepspeech_pytorch/quyenImg/FPTOpenSpeechData_Set002_V0_1_001564tinhieutho.png
deepspeech_pytorch/quyenImg/FPTOpenSpeechData_Set002_V0_1_001565.png
deepspeech_pytorch/quyenImg/FPTOpenSpeechData_Set002_V0_1_001565tinhieutho.png
deepspeech_pytorch/quyenImg/FPTOpenSpeechData_Set002_V0_1_001566.png
deepspeech_pytorch/quyenImg/FPTOpenSpeechData_Set002_V0_1_001566tinhieutho.png
deepspeech_pytorch/quyenImg/FPTOpenSpeechData_Set002_V0_1_001567.png
deepspeech_pytorch/quyenImg/FPTOpenSpeechData_Set002_V0_1_001567tinhieutho.png
deepspeech_pytorch/quyenImg/FPTOpenSpeechData_Set002_V0_1_001568.png
deepspeech_pytorch/quyenImg/FPTOpenSpeechData_Set002_V0_1_001568tinhieutho.png
deepspeech_pytorch/quyenImg/FPTOpenSpeechData_Set002_V0_1_001569.png
deepspeech_pytorch/quyenImg/FPTOpenSpeechData_Set002_V0_1_001569tinhieutho.png
deepspeech_pytorch/quyenImg/FPTOpenSpeechData_Set002_V0_1_001570.png
deepspeech_pytorch/quyenImg/FPTOpenSpeechData_Set002_V0_1_001570tinhieutho.png
deepspeech_pytorch/quyenImg/FPTOpenSpeechData_Set002_V0_1_001571.png
deepspeech_pytorch/quyenImg/FPTOpenSpeechData_Set002_V0_1_001571tinhieutho.png
deepspeech_pytorch/quyenImg/FPTOpenSpeechData_Set002_V0_1_001572.png
deepspeech_pytorch/quyenImg/FPTOpenSpeechData_Set002_V0_1_001572tinhieutho.png
deepspeech_pytorch/quyenImg/FPTOpenSpeechData_Set002_V0_1_001573.png
deepspeech_pytorch/quyenImg/FPTOpenSpeechData_Set002_V0_1_001573tinhieutho.png
deepspeech_pytorch/quyenImg/FPTOpenSpeechData_Set002_V0_1_001574.png
deepspeech_pytorch/quyenImg/FPTOpenSpeechData_Set002_V0_1_001574tinhieutho.png
deepspeech_pytorch/quyenImg/FPTOpenSpeechData_Set002_V0_1_001576.png
deepspeech_pytorch/quyenImg/FPTOpenSpeechData_Set002_V0_1_001576tinhieutho.png
deepspeech_pytorch/quyenImg/FPTOpenSpeechData_Set002_V0_1_001577.png
deepspeech_pytorch/quyenImg/FPTOpenSpeechData_Set002_V0_1_001577tinhieutho.png
deepspeech_pytorch/quyenImg/FPTOpenSpeechData_Set002_V0_1_001578.png
deepspeech_pytorch/quyenImg/FPTOpenSpeechData_Set002_V0_1_001578tinhieutho.png
deepspeech_pytorch/quyenImg/FPTOpenSpeechData_Set002_V0_1_001579.png
deepspeech_pytorch/quyenImg/FPTOpenSpeechData_Set002_V0_1_001579tinhieutho.png
deepspeech_pytorch/quyenImg/FPTOpenSpeechData_Set002_V0_1_001580.png
deepspeech_pytorch/quyenImg/FPTOpenSpeechData_Set002_V0_1_001580tinhieutho.png
deepspeech_pytorch/quyenImg/FPTOpenSpeechData_Set002_V0_1_001581.png
deepspeech_pytorch/quyenImg/FPTOpenSpeechData_Set002_V0_1_001581tinhieutho.png
deepspeech_pytorch/quyenImg/FPTOpenSpeechData_Set002_V0_1_001582.png
deepspeech_pytorch/quyenImg/FPTOpenSpeechData_Set002_V0_1_001582tinhieutho.png
deepspeech_pytorch/quyenImg/FPTOpenSpeechData_Set002_V0_1_001583.png
deepspeech_pytorch/quyenImg/FPTOpenSpeechData_Set002_V0_1_001583tinhieutho.png
deepspeech_pytorch/quyenImg/FPTOpenSpeechData_Set002_V0_1_001584.png
deepspeech_pytorch/quyenImg/FPTOpenSpeechData_Set002_V0_1_001584tinhieutho.png
deepspeech_pytorch/quyenImg/FPTOpenSpeechData_Set002_V0_1_001585.png
deepspeech_pytorch/quyenImg/FPTOpenSpeechData_Set002_V0_1_001585tinhieutho.png
deepspeech_pytorch/quyenImg/FPTOpenSpeechData_Set002_V0_1_001586.png
deepspeech_pytorch/quyenImg/FPTOpenSpeechData_Set002_V0_1_001586tinhieutho.png
deepspeech_pytorch/quyenImg/FPTOpenSpeechData_Set002_V0_1_001587.png
deepspeech_pytorch/quyenImg/FPTOpenSpeechData_Set002_V0_1_001587tinhieutho.png
deepspeech_pytorch/quyenImg/FPTOpenSpeechData_Set002_V0_1_001588.png
deepspeech_pytorch/quyenImg/FPTOpenSpeechData_Set002_V0_1_001588tinhieutho.png
deepspeech_pytorch/quyenImg/FPTOpenSpeechData_Set002_V0_1_001589.png
deepspeech_pytorch/quyenImg/FPTOpenSpeechData_Set002_V0_1_001589tinhieutho.png
deepspeech_pytorch/quyenImg/FPTOpenSpeechData_Set002_V0_1_001590.png
deepspeech_pytorch/quyenImg/FPTOpenSpeechData_Set002_V0_1_001590tinhieutho.png
deepspeech_pytorch/quyenImg/FPTOpenSpeechData_Set002_V0_1_001591.png
deepspeech_pytorch/quyenImg/FPTOpenSpeechData_Set002_V0_1_001591tinhieutho.png
deepspeech_pytorch/quyenImg/FPTOpenSpeechData_Set002_V0_1_001592.png
deepspeech_pytorch/quyenImg/FPTOpenSpeechData_Set002_V0_1_001592tinhieutho.png
deepspeech_pytorch/quyenImg/FPTOpenSpeechData_Set002_V0_1_001593.png
deepspeech_pytorch/quyenImg/FPTOpenSpeechData_Set002_V0_1_001593tinhieutho.png
deepspeech_pytorch/quyenImg/FPTOpenSpeechData_Set002_V0_1_001594.png
deepspeech_pytorch/quyenImg/FPTOpenSpeechData_Set002_V0_1_001594tinhieutho.png
deepspeech_pytorch/quyenImg/FPTOpenSpeechData_Set002_V0_1_001598.png
deepspeech_pytorch/quyenImg/FPTOpenSpeechData_Set002_V0_1_001598tinhieutho.png
deepspeech_pytorch/quyenImg/FPTOpenSpeechData_Set002_V0_1_001599.png
deepspeech_pytorch/quyenImg/FPTOpenSpeechData_Set002_V0_1_001599tinhieutho.png
deepspeech_pytorch/quyenImg/FPTOpenSpeechData_Set002_V0_1_001600.png
deepspeech_pytorch/quyenImg/FPTOpenSpeechData_Set002_V0_1_001600tinhieutho.png
deepspeech_pytorch/quyenImg/FPTOpenSpeechData_Set002_V0_1_001601.png
deepspeech_pytorch/quyenImg/FPTOpenSpeechData_Set002_V0_1_001601tinhieutho.png
deepspeech_pytorch/quyenImg/FPTOpenSpeechData_Set002_V0_1_001602.png
deepspeech_pytorch/quyenImg/FPTOpenSpeechData_Set002_V0_1_001602tinhieutho.png
deepspeech_pytorch/quyenImg/FPTOpenSpeechData_Set002_V0_1_001603.png
deepspeech_pytorch/quyenImg/FPTOpenSpeechData_Set002_V0_1_001603tinhieutho.png
deepspeech_pytorch/quyenImg/FPTOpenSpeechData_Set002_V0_1_001604.png
deepspeech_pytorch/quyenImg/FPTOpenSpeechData_Set002_V0_1_001604tinhieutho.png
deepspeech_pytorch/quyenImg/FPTOpenSpeechData_Set002_V0_1_001605.png
deepspeech_pytorch/quyenImg/FPTOpenSpeechData_Set002_V0_1_001605tinhieutho.png
deepspeech_pytorch/quyenImg/FPTOpenSpeechData_Set002_V0_1_001606.png
deepspeech_pytorch/quyenImg/FPTOpenSpeechData_Set002_V0_1_001606tinhieutho.png
deepspeech_pytorch/quyenImg/FPTOpenSpeechData_Set002_V0_1_001607.png
deepspeech_pytorch/quyenImg/FPTOpenSpeechData_Set002_V0_1_001607tinhieutho.png
deepspeech_pytorch/quyenImg/FPTOpenSpeechData_Set002_V0_1_001608.png
deepspeech_pytorch/quyenImg/FPTOpenSpeechData_Set002_V0_1_001608tinhieutho.png
deepspeech_pytorch/quyenImg/FPTOpenSpeechData_Set002_V0_1_001609.png
deepspeech_pytorch/quyenImg/FPTOpenSpeechData_Set002_V0_1_001609tinhieutho.png
deepspeech_pytorch/quyenImg/FPTOpenSpeechData_Set002_V0_1_001610.png
deepspeech_pytorch/quyenImg/FPTOpenSpeechData_Set002_V0_1_001610tinhieutho.png
deepspeech_pytorch/quyenImg/FPTOpenSpeechData_Set002_V0_1_001611.png
deepspeech_pytorch/quyenImg/FPTOpenSpeechData_Set002_V0_1_001611tinhieutho.png
deepspeech_pytorch/quyenImg/FPTOpenSpeechData_Set002_V0_1_001612.png
deepspeech_pytorch/quyenImg/FPTOpenSpeechData_Set002_V0_1_001612tinhieutho.png
deepspeech_pytorch/quyenImg/FPTOpenSpeechData_Set002_V0_1_001613.png
deepspeech_pytorch/quyenImg/FPTOpenSpeechData_Set002_V0_1_001613tinhieutho.png
deepspeech_pytorch/quyenImg/FPTOpenSpeechData_Set002_V0_1_001614.png
deepspeech_pytorch/quyenImg/FPTOpenSpeechData_Set002_V0_1_001614tinhieutho.png
deepspeech_pytorch/quyenImg/FPTOpenSpeechData_Set002_V0_1_001615.png
deepspeech_pytorch/quyenImg/FPTOpenSpeechData_Set002_V0_1_001615tinhieutho.png
deepspeech_pytorch/quyenImg/FPTOpenSpeechData_Set002_V0_1_001616.png
deepspeech_pytorch/quyenImg/FPTOpenSpeechData_Set002_V0_1_001616tinhieutho.png
deepspeech_pytorch/quyenImg/FPTOpenSpeechData_Set002_V0_1_001617.png
deepspeech_pytorch/quyenImg/FPTOpenSpeechData_Set002_V0_1_001617tinhieutho.png
deepspeech_pytorch/quyenImg/FPTOpenSpeechData_Set002_V0_1_001618.png
deepspeech_pytorch/quyenImg/FPTOpenSpeechData_Set002_V0_1_001618tinhieutho.png
deepspeech_pytorch/quyenImg/FPTOpenSpeechData_Set002_V0_1_001619.png
deepspeech_pytorch/quyenImg/FPTOpenSpeechData_Set002_V0_1_001619tinhieutho.png
deepspeech_pytorch/quyenImg/FPTOpenSpeechData_Set002_V0_1_001620.png
deepspeech_pytorch/quyenImg/FPTOpenSpeechData_Set002_V0_1_001620tinhieutho.png
deepspeech_pytorch/quyenImg/FPTOpenSpeechData_Set002_V0_1_001621.png
deepspeech_pytorch/quyenImg/FPTOpenSpeechData_Set002_V0_1_001621tinhieutho.png
deepspeech_pytorch/quyenImg/FPTOpenSpeechData_Set002_V0_1_001622.png
deepspeech_pytorch/quyenImg/FPTOpenSpeechData_Set002_V0_1_001622tinhieutho.png
deepspeech_pytorch/quyenImg/FPTOpenSpeechData_Set002_V0_1_001623.png
deepspeech_pytorch/quyenImg/FPTOpenSpeechData_Set002_V0_1_001623tinhieutho.png
deepspeech_pytorch/quyenImg/FPTOpenSpeechData_Set002_V0_1_001624.png
deepspeech_pytorch/quyenImg/FPTOpenSpeechData_Set002_V0_1_001624tinhieutho.png
deepspeech_pytorch/quyenImg/FPTOpenSpeechData_Set002_V0_1_001625.png
deepspeech_pytorch/quyenImg/FPTOpenSpeechData_Set002_V0_1_001625tinhieutho.png
deepspeech_pytorch/quyenImg/FPTOpenSpeechData_Set002_V0_1_001626.png
deepspeech_pytorch/quyenImg/FPTOpenSpeechData_Set002_V0_1_001626tinhieutho.png
deepspeech_pytorch/quyenImg/FPTOpenSpeechData_Set002_V0_1_001627.png
deepspeech_pytorch/quyenImg/FPTOpenSpeechData_Set002_V0_1_001627tinhieutho.png
deepspeech_pytorch/quyenImg/FPTOpenSpeechData_Set002_V0_1_001628.png
deepspeech_pytorch/quyenImg/FPTOpenSpeechData_Set002_V0_1_001628tinhieutho.png
deepspeech_pytorch/quyenImg/FPTOpenSpeechData_Set002_V0_1_001629.png
deepspeech_pytorch/quyenImg/FPTOpenSpeechData_Set002_V0_1_001629tinhieutho.png
deepspeech_pytorch/quyenImg/FPTOpenSpeechData_Set002_V0_1_001630.png
deepspeech_pytorch/quyenImg/FPTOpenSpeechData_Set002_V0_1_001630tinhieutho.png
deepspeech_pytorch/quyenImg/FPTOpenSpeechData_Set002_V0_1_001631.png
deepspeech_pytorch/quyenImg/FPTOpenSpeechData_Set002_V0_1_001631tinhieutho.png
deepspeech_pytorch/quyenImg/FPTOpenSpeechData_Set002_V0_1_001632.png
deepspeech_pytorch/quyenImg/FPTOpenSpeechData_Set002_V0_1_001632tinhieutho.png
deepspeech_pytorch/quyenImg/FPTOpenSpeechData_Set002_V0_1_001633.png
deepspeech_pytorch/quyenImg/FPTOpenSpeechData_Set002_V0_1_001633tinhieutho.png
deepspeech_pytorch/quyenImg/FPTOpenSpeechData_Set002_V0_1_001634.png
deepspeech_pytorch/quyenImg/FPTOpenSpeechData_Set002_V0_1_001634tinhieutho.png
deepspeech_pytorch/quyenImg/FPTOpenSpeechData_Set002_V0_1_001635.png
deepspeech_pytorch/quyenImg/FPTOpenSpeechData_Set002_V0_1_001635tinhieutho.png
deepspeech_pytorch/quyenImg/FPTOpenSpeechData_Set002_V0_1_001636.png
deepspeech_pytorch/quyenImg/FPTOpenSpeechData_Set002_V0_1_001636tinhieutho.png
deepspeech_pytorch/quyenImg/FPTOpenSpeechData_Set002_V0_1_001637.png
deepspeech_pytorch/quyenImg/FPTOpenSpeechData_Set002_V0_1_001637tinhieutho.png
deepspeech_pytorch/quyenImg/FPTOpenSpeechData_Set002_V0_1_001638.png
deepspeech_pytorch/quyenImg/FPTOpenSpeechData_Set002_V0_1_001638tinhieutho.png
deepspeech_pytorch/quyenImg/FPTOpenSpeechData_Set002_V0_1_001639.png
deepspeech_pytorch/quyenImg/FPTOpenSpeechData_Set002_V0_1_001639tinhieutho.png
deepspeech_pytorch/quyenImg/FPTOpenSpeechData_Set002_V0_1_001640.png
deepspeech_pytorch/quyenImg/FPTOpenSpeechData_Set002_V0_1_001640tinhieutho.png
deepspeech_pytorch/quyenImg/FPTOpenSpeechData_Set002_V0_1_001641.png
deepspeech_pytorch/quyenImg/FPTOpenSpeechData_Set002_V0_1_001641tinhieutho.png
deepspeech_pytorch/quyenImg/FPTOpenSpeechData_Set002_V0_1_001642.png
deepspeech_pytorch/quyenImg/FPTOpenSpeechData_Set002_V0_1_001642tinhieutho.png
deepspeech_pytorch/quyenImg/FPTOpenSpeechData_Set002_V0_1_001645.png
deepspeech_pytorch/quyenImg/FPTOpenSpeechData_Set002_V0_1_001645tinhieutho.png
deepspeech_pytorch/quyenImg/FPTOpenSpeechData_Set002_V0_1_001646.png
deepspeech_pytorch/quyenImg/FPTOpenSpeechData_Set002_V0_1_001646tinhieutho.png
deepspeech_pytorch/quyenImg/FPTOpenSpeechData_Set002_V0_1_001647.png
deepspeech_pytorch/quyenImg/FPTOpenSpeechData_Set002_V0_1_001647tinhieutho.png
deepspeech_pytorch/quyenImg/FPTOpenSpeechData_Set002_V0_1_001648.png
deepspeech_pytorch/quyenImg/FPTOpenSpeechData_Set002_V0_1_001648tinhieutho.png
deepspeech_pytorch/quyenImg/FPTOpenSpeechData_Set002_V0_1_001649.png
deepspeech_pytorch/quyenImg/FPTOpenSpeechData_Set002_V0_1_001649tinhieutho.png
deepspeech_pytorch/quyenImg/FPTOpenSpeechData_Set002_V0_1_001650.png
deepspeech_pytorch/quyenImg/FPTOpenSpeechData_Set002_V0_1_001650tinhieutho.png
deepspeech_pytorch/quyenImg/FPTOpenSpeechData_Set002_V0_1_001651.png
deepspeech_pytorch/quyenImg/FPTOpenSpeechData_Set002_V0_1_001651tinhieutho.png
deepspeech_pytorch/quyenImg/FPTOpenSpeechData_Set002_V0_1_001652.png
deepspeech_pytorch/quyenImg/FPTOpenSpeechData_Set002_V0_1_001652tinhieutho.png
deepspeech_pytorch/quyenImg/FPTOpenSpeechData_Set002_V0_1_001653.png
deepspeech_pytorch/quyenImg/FPTOpenSpeechData_Set002_V0_1_001653tinhieutho.png
deepspeech_pytorch/quyenImg/FPTOpenSpeechData_Set002_V0_1_001654.png
deepspeech_pytorch/quyenImg/FPTOpenSpeechData_Set002_V0_1_001654tinhieutho.png
deepspeech_pytorch/quyenImg/FPTOpenSpeechData_Set002_V0_1_001656.png
deepspeech_pytorch/quyenImg/FPTOpenSpeechData_Set002_V0_1_001656tinhieutho.png
deepspeech_pytorch/quyenImg/FPTOpenSpeechData_Set002_V0_1_001657.png
deepspeech_pytorch/quyenImg/FPTOpenSpeechData_Set002_V0_1_001657tinhieutho.png
deepspeech_pytorch/quyenImg/FPTOpenSpeechData_Set002_V0_1_001658.png
deepspeech_pytorch/quyenImg/FPTOpenSpeechData_Set002_V0_1_001658tinhieutho.png
deepspeech_pytorch/quyenImg/FPTOpenSpeechData_Set002_V0_1_001659.png
deepspeech_pytorch/quyenImg/FPTOpenSpeechData_Set002_V0_1_001659tinhieutho.png
deepspeech_pytorch/quyenImg/FPTOpenSpeechData_Set002_V0_1_001660.png
deepspeech_pytorch/quyenImg/FPTOpenSpeechData_Set002_V0_1_001660tinhieutho.png
deepspeech_pytorch/quyenImg/FPTOpenSpeechData_Set002_V0_1_001661.png
deepspeech_pytorch/quyenImg/FPTOpenSpeechData_Set002_V0_1_001661tinhieutho.png
deepspeech_pytorch/quyenImg/FPTOpenSpeechData_Set002_V0_1_001662.png
deepspeech_pytorch/quyenImg/FPTOpenSpeechData_Set002_V0_1_001662tinhieutho.png
deepspeech_pytorch/quyenImg/FPTOpenSpeechData_Set002_V0_1_001663.png
deepspeech_pytorch/quyenImg/FPTOpenSpeechData_Set002_V0_1_001663tinhieutho.png
deepspeech_pytorch/quyenImg/FPTOpenSpeechData_Set002_V0_1_001665.png
deepspeech_pytorch/quyenImg/FPTOpenSpeechData_Set002_V0_1_001665tinhieutho.png
deepspeech_pytorch/quyenImg/FPTOpenSpeechData_Set002_V0_1_001666.png
deepspeech_pytorch/quyenImg/FPTOpenSpeechData_Set002_V0_1_001666tinhieutho.png
deepspeech_pytorch/quyenImg/FPTOpenSpeechData_Set002_V0_1_001667.png
deepspeech_pytorch/quyenImg/FPTOpenSpeechData_Set002_V0_1_001667tinhieutho.png
deepspeech_pytorch/quyenImg/FPTOpenSpeechData_Set002_V0_1_001668.png
deepspeech_pytorch/quyenImg/FPTOpenSpeechData_Set002_V0_1_001668tinhieutho.png
deepspeech_pytorch/quyenImg/FPTOpenSpeechData_Set002_V0_1_001669.png
deepspeech_pytorch/quyenImg/FPTOpenSpeechData_Set002_V0_1_001669tinhieutho.png
deepspeech_pytorch/quyenImg/FPTOpenSpeechData_Set002_V0_1_001670.png
deepspeech_pytorch/quyenImg/FPTOpenSpeechData_Set002_V0_1_001670tinhieutho.png
deepspeech_pytorch/quyenImg/FPTOpenSpeechData_Set002_V0_1_001671.png
deepspeech_pytorch/quyenImg/FPTOpenSpeechData_Set002_V0_1_001671tinhieutho.png
deepspeech_pytorch/quyenImg/FPTOpenSpeechData_Set002_V0_1_001672.png
deepspeech_pytorch/quyenImg/FPTOpenSpeechData_Set002_V0_1_001672tinhieutho.png
deepspeech_pytorch/quyenImg/FPTOpenSpeechData_Set002_V0_1_001673.png
deepspeech_pytorch/quyenImg/FPTOpenSpeechData_Set002_V0_1_001673tinhieutho.png
deepspeech_pytorch/quyenImg/FPTOpenSpeechData_Set002_V0_1_001675.png
deepspeech_pytorch/quyenImg/FPTOpenSpeechData_Set002_V0_1_001675tinhieutho.png
deepspeech_pytorch/quyenImg/FPTOpenSpeechData_Set002_V0_1_001676.png
deepspeech_pytorch/quyenImg/FPTOpenSpeechData_Set002_V0_1_001676tinhieutho.png
deepspeech_pytorch/quyenImg/FPTOpenSpeechData_Set002_V0_1_001677.png
deepspeech_pytorch/quyenImg/FPTOpenSpeechData_Set002_V0_1_001677tinhieutho.png
deepspeech_pytorch/quyenImg/FPTOpenSpeechData_Set002_V0_1_001678.png
deepspeech_pytorch/quyenImg/FPTOpenSpeechData_Set002_V0_1_001678tinhieutho.png
deepspeech_pytorch/quyenImg/FPTOpenSpeechData_Set002_V0_1_001680.png
deepspeech_pytorch/quyenImg/FPTOpenSpeechData_Set002_V0_1_001680tinhieutho.png
deepspeech_pytorch/quyenImg/FPTOpenSpeechData_Set002_V0_1_001681.png
deepspeech_pytorch/quyenImg/FPTOpenSpeechData_Set002_V0_1_001681tinhieutho.png
deepspeech_pytorch/quyenImg/FPTOpenSpeechData_Set002_V0_1_001682.png
deepspeech_pytorch/quyenImg/FPTOpenSpeechData_Set002_V0_1_001682tinhieutho.png
deepspeech_pytorch/quyenImg/FPTOpenSpeechData_Set002_V0_1_001683.png
deepspeech_pytorch/quyenImg/FPTOpenSpeechData_Set002_V0_1_001683tinhieutho.png
deepspeech_pytorch/quyenImg/FPTOpenSpeechData_Set002_V0_1_001684.png
deepspeech_pytorch/quyenImg/FPTOpenSpeechData_Set002_V0_1_001684tinhieutho.png
deepspeech_pytorch/quyenImg/FPTOpenSpeechData_Set002_V0_1_001685.png
deepspeech_pytorch/quyenImg/FPTOpenSpeechData_Set002_V0_1_001685tinhieutho.png
deepspeech_pytorch/quyenImg/FPTOpenSpeechData_Set002_V0_1_001686.png
deepspeech_pytorch/quyenImg/FPTOpenSpeechData_Set002_V0_1_001686tinhieutho.png
deepspeech_pytorch/quyenImg/FPTOpenSpeechData_Set002_V0_1_001688.png
deepspeech_pytorch/quyenImg/FPTOpenSpeechData_Set002_V0_1_001688tinhieutho.png
deepspeech_pytorch/quyenImg/FPTOpenSpeechData_Set002_V0_1_001689.png
deepspeech_pytorch/quyenImg/FPTOpenSpeechData_Set002_V0_1_001689tinhieutho.png
deepspeech_pytorch/quyenImg/FPTOpenSpeechData_Set002_V0_1_001690.png
deepspeech_pytorch/quyenImg/FPTOpenSpeechData_Set002_V0_1_001690tinhieutho.png
deepspeech_pytorch/quyenImg/FPTOpenSpeechData_Set002_V0_1_001694.png
deepspeech_pytorch/quyenImg/FPTOpenSpeechData_Set002_V0_1_001694tinhieutho.png
deepspeech_pytorch/quyenImg/FPTOpenSpeechData_Set002_V0_1_001695.png
deepspeech_pytorch/quyenImg/FPTOpenSpeechData_Set002_V0_1_001695tinhieutho.png
deepspeech_pytorch/quyenImg/FPTOpenSpeechData_Set002_V0_1_001696.png
deepspeech_pytorch/quyenImg/FPTOpenSpeechData_Set002_V0_1_001696tinhieutho.png
deepspeech_pytorch/quyenImg/FPTOpenSpeechData_Set002_V0_1_001697.png
deepspeech_pytorch/quyenImg/FPTOpenSpeechData_Set002_V0_1_001697tinhieutho.png
deepspeech_pytorch/quyenImg/FPTOpenSpeechData_Set002_V0_1_001698.png
deepspeech_pytorch/quyenImg/FPTOpenSpeechData_Set002_V0_1_001698tinhieutho.png
deepspeech_pytorch/quyenImg/FPTOpenSpeechData_Set002_V0_1_001699.png
deepspeech_pytorch/quyenImg/FPTOpenSpeechData_Set002_V0_1_001699tinhieutho.png
deepspeech_pytorch/quyenImg/FPTOpenSpeechData_Set002_V0_1_001700.png
deepspeech_pytorch/quyenImg/FPTOpenSpeechData_Set002_V0_1_001700tinhieutho.png
deepspeech_pytorch/quyenImg/FPTOpenSpeechData_Set002_V0_1_001701.png
deepspeech_pytorch/quyenImg/FPTOpenSpeechData_Set002_V0_1_001701tinhieutho.png
deepspeech_pytorch/quyenImg/FPTOpenSpeechData_Set002_V0_1_001703.png
deepspeech_pytorch/quyenImg/FPTOpenSpeechData_Set002_V0_1_001703tinhieutho.png
deepspeech_pytorch/quyenImg/FPTOpenSpeechData_Set002_V0_1_001704.png
deepspeech_pytorch/quyenImg/FPTOpenSpeechData_Set002_V0_1_001704tinhieutho.png
deepspeech_pytorch/quyenImg/FPTOpenSpeechData_Set002_V0_1_001705.png
deepspeech_pytorch/quyenImg/FPTOpenSpeechData_Set002_V0_1_001705tinhieutho.png
deepspeech_pytorch/quyenImg/FPTOpenSpeechData_Set002_V0_1_001706.png
deepspeech_pytorch/quyenImg/FPTOpenSpeechData_Set002_V0_1_001706tinhieutho.png
deepspeech_pytorch/quyenImg/FPTOpenSpeechData_Set002_V0_1_001707.png
deepspeech_pytorch/quyenImg/FPTOpenSpeechData_Set002_V0_1_001707tinhieutho.png
deepspeech_pytorch/quyenImg/FPTOpenSpeechData_Set002_V0_1_001709.png
deepspeech_pytorch/quyenImg/FPTOpenSpeechData_Set002_V0_1_001709tinhieutho.png
deepspeech_pytorch/quyenImg/FPTOpenSpeechData_Set002_V0_1_001710.png
deepspeech_pytorch/quyenImg/FPTOpenSpeechData_Set002_V0_1_001710tinhieutho.png
deepspeech_pytorch/quyenImg/FPTOpenSpeechData_Set002_V0_1_001711.png
deepspeech_pytorch/quyenImg/FPTOpenSpeechData_Set002_V0_1_001711tinhieutho.png
deepspeech_pytorch/quyenImg/FPTOpenSpeechData_Set002_V0_1_001712.png
deepspeech_pytorch/quyenImg/FPTOpenSpeechData_Set002_V0_1_001712tinhieutho.png
deepspeech_pytorch/quyenImg/FPTOpenSpeechData_Set002_V0_1_001713.png
deepspeech_pytorch/quyenImg/FPTOpenSpeechData_Set002_V0_1_001713tinhieutho.png
deepspeech_pytorch/quyenImg/FPTOpenSpeechData_Set002_V0_1_001714.png
deepspeech_pytorch/quyenImg/FPTOpenSpeechData_Set002_V0_1_001714tinhieutho.png